body {
  color: #000;
}

ul {
  list-style: none;
}

p {
  font-size: 18px;
  font-weight: 400;
}

a {
  font-style: normal;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 49px 92px 51px;
  height: 293px;
}

.header__links-list {
  display: flex;
  gap: 30px;
  list-style: circle;
}

.header__link {
  border-bottom: solid 2px #000;
}

.header__link_active {
  border-bottom: solid 0px #000;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo-image {
  width: 150px;
}

.header__address-link__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}

.header__address {
  display: flex;
  justify-content: end;
}

.cover {
  background-image: url('../images/cover.jpg');
  width: 100%;
  position: relative;
  padding: 50px;
  background-position: center;
  background-size: cover;
  margin-bottom: 180px;
}

.overlay {
  background-color: #00000080;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.cover__title {
  margin-top: 115px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 106px;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  display: block;
  color: #fff;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  z-index: 1;
  margin-top: 20px
}

.aligned-text_right {
  grid-row: 3;
  grid-column: 3;
}

.aligned-text_center {
  grid-column: 2/4;
  grid-row: 2;
}

.aligned-text {
  grid-column: 1/2;
  margin-top: 0px;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cover__description-text {
  color: #fff;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 22px;
  word-spacing: 22px;
}

.bet-button {
  background: none;
  font-size: 22px;
  padding: 10px 30px;
  font-weight: 500;
  color: #fff;
  border: solid 2px #fff;
}

.lots__heading {
  font-size: 40px;
  margin-left: 64px;
  margin-bottom: 28px;
}

.card-link {
  display: block;
}

.lots {
  margin: auto;
  margin-bottom: 155px;
}

.card {
  padding: 48px 40px;
  color: #fff;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  background-size: cover;
  background-position: center;
  width: 334px;
  height: 596px;
}

.card__text {
  z-index: 2;
  position: relative;
  font-size: 20px;
  margin-bottom: 0%;
}

.card__title {
  text-transform: uppercase;
  z-index: 2;
  position: relative;
  font-size: 22px;
  text-decoration: underline;
}

.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}

.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}

.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.lots__card-list {
  display: flex;
  gap: 25px;
  justify-content: center;
  margin-bottom: 30px;
}

.lots__link {
  margin-left: 64px;
}

.about__logo {
  background-color: #000;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 240px;
}

.about__logo-image {
  width: 148px;
}

.about {
  margin-bottom: 220px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 72px;
  margin-left: 20px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 24px;
  font-size: 20px;
  width: 620px;
}

.about__description {
  max-width: 694px;
  padding-top: 100px;
  
}

.footer__links-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.footer__social-list {
  display: flex;
  gap: 48px;
}

.footer__social-icon {
  width: 48px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 82px;
  padding-left: 50px;
  padding-right: 50px;
}